# Dependencies
node_modules/

# Build output
out/
release/
dist/

# Logs
*.log
npm-debug.log*

# TypeScript incremental build cache
*.tsbuildinfo

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Vite/Electron cache
.electron-vite/
